<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694381477683-pn48nimep098oqdc4tua9cvbjkjr28jn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694381477683-pn48nimep098oqdc4tua9cvbjkjr28jn</string>
	<key>API_KEY</key>
	<string>AIzaSyB_rWpCtELzqpCOVBid_wKtnxk5rZM0qfY</string>
	<key>GCM_SENDER_ID</key>
	<string>694381477683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yk-gankeisei.GravApp</string>
	<key>PROJECT_ID</key>
	<string>gravapp-1fcd1</string>
	<key>STORAGE_BUCKET</key>
	<string>gravapp-1fcd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694381477683:ios:5a6301b465e5398bb30846</string>
</dict>
</plist>